.WeatherLocation{
    margin: 2px auto;
}
.locationList{
    width: 100%;
}
@media (max-width: 48rem) {
   .locationList{
       background: green;
       max-height: 30vh;
       overflow: auto;
   }
  }